<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link href="styles.css" rel="stylesheet" type="text/css" />
<title>View Complaint Page</title>
</head>
<body>

<div class="user-nav-bar">
  <a href="#home">Home</a>
  <a href="#logout" style="float:right;">Logout</a>
  <a href="#profile" style="float:right;">Profile</a>  
</div>

<div class="complaint-header" id="myHeader">
  <p class="header-title">I want a refund.</p>
  <p class="header-date">Sept 17 2019</p>
  <p class="header-complaint-no">#123456</p>
</div>

</body>
</html>