<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link href="styles.css" rel="stylesheet" type="text/css" />
<title>View Complaint Page</title>
</head>
<body>

<div class="user-nav-bar">
  <a href="#home">My Complaints</a>
  <a href="#logout" style="float:right;">Logout</a>
  <a href="#profile" style="float:right;">Profile</a>  
</div>

<div class="complaint-header" id="myHeader">

<div style="height:80px">
	<div class="header-div">  
	<img src="images.png" class="header-image" alt="User-icon">
  <b class="header-title">I want a refund.</b>
  </div>
  
  <div style="float:left;margin-bottom: 10px;"> 
  <sub class="header-date">Sept 17 2019</sub>
  </div>
  </div>
  
  <div style="margin-right:70%; width:70%;">
	  
	  <div style="float:left;"> 
	  <p class="header-complaint-no" style="float:left;color:#00527e;font-weight:bold;">Complaint Number:</p>
	  <p class="header-complaint-no" style="float:left;padding-left:3px;">123456</p>
	  </div>
	  
	  <div style="float:left;">
	  <p class="header-complaint-no" style="float:left;color:#00527e;font-weight:bold;">Status:</p>
	  <p class="header-complaint-no" style="float:left;padding-left:3px;">Unassigned</p>
	  </div>
 
	<div style="float:left;">
		  <p class="header-complaint-no" style="float:left;margin-bottom:5px;color:#00527e;font-weight:bold;">Department:</p>
		  <p class="header-complaint-no" style="float:left;padding-left:3px;padding-bottom:5px;">Unassigned</p>
	  </div>
  </div>
  	
  <div>  
  <button class="header-resolve-button"> + Resolve </button>
  </div>
 </div>
 
 <hr/>
	  
	  <div class="container">
  <img src="images.png" alt="Avatar">
  <p>Hello. How are you today?</p>
  <span class="time-right">11:00</span>
</div>

<div class="container darker">
  <img src="images.png" alt="Avatar" class="right">
  <p>Hey! I'm fine. Thanks for asking!</p>
  <span class="time-left">11:01</span>
</div>

<div class="container">
  <img src="images.png" alt="Avatar">
  <p>Sweet! So, what do you wanna do today?</p>
  <span class="time-right">11:02</span>
</div>

<div class="container darker">
  <img src="images.png" alt="Avatar" class="right">
  <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
  <span class="time-left">11:05</span>
</div>

<div class="container">
  <img src="images.png" alt="Avatar">
  <p>idk!</p>
  <span class="time-right">11:03</span>
</div>

	  
</body>
</html>