@charset "ISO-8859-1";


/* =========== Navigation Bar ================= */

.user-nav-bar {
  background-color: #00527e;
  overflow: hidden;
}

.user-nav-bar a {
  float: left;
  color: #f9f8f8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Arial;
}

.user-nav-bar a:hover {
  color: white;
  font-weight: bold;
}

.user-nav-bar a.active {
  color: white;
} 


/* =========== User Home Page ================= */

#issue-list {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#issue-list td, #issue-list th {
  border: 1px solid #ddd;
  padding: 8px;
}

/* #issue-list tr:nth-child(even){background-color: #f2f2f2;} */

#issue-list tr:hover {background-color: #ddd;}

#issue-list th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f9f8f8;
  color: #00527e;
}
  









/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 12px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius:20px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}