<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link href="styles.css" rel="stylesheet" type="text/css" />
<title>User Home Page</title>
<style>

/* Full-width input fields */
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */ 
button {
  background-color: #00527e;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}
</style>
</head>
<body>

<!--  <div class="dropdown">
		  <button onclick="myFunction()" class="dropbtn">Unassigned</button>
		  <div id="myDropdown" class="dropdown-content">
		    <a href="#unassigned">Unassigned</a>
		    <a href="#assigned">Assigned</a>
		    <a href="#resolved">Resolved</a>
		  </div>
		</div> -->
		
<div class="user-nav-bar">
  <a href="#home" class="active">My Complaints</a>
  <a href="#logout" style="float:right;">Logout</a>
  <a href="#profile" style="float:right;">Profile</a>
  
</div>

<!-- <div class="wrap">
   <div class="search">
      <input type="text" class="searchTerm" placeholder="What are you looking for?">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
   </div>
</div>

 <div class="dropdown">
		  <button onclick="myFunction()" class="dropbtn">Unassigned</button>
		  <div id="myDropdown" class="dropdown-content">
		    <a href="#unassigned">Unassigned</a>
		    <a href="#assigned">Assigned</a>
		    <a href="#resolved">Resolved</a>
		  </div>
		</div> -->

<button class="complaint-button" onclick="document.getElementById('popUp').style.display='block'" style="width:auto;">+ Create a Complaint </button>
<table id="issue-list">
  <tr>
    <th>Complaint No.</th>
    <th>Subject</th>
    <th>Status</th>
    <th>Date</th>
    <th>Department</th>
  </tr>
  
  <tr>
    <td >#123456</td>
    <td >I want a refund. </td>
    <td> <p class="status-icon-unassigned"> Unassigned</p></td>
    <td >Sept 17 2019</td>
    <td >HR</td>
  </tr>
  
  <tr>
    <td >#123456</td>
    <td >I want a refund. </td>
    <td> <p class="status-icon-assigned"> Assigned</p></td>
    <td >Sept 17 2019</td>
    <td >HR</td>
  </tr>
  
  <tr>
    <td >#123456</td>
    <td >I want a refund. </td>
    <td> <p class="status-icon-unassigned"> Unassigned</p></td>
    <td >Sept 17 2019</td>
    <td >HR</td>
  </tr>
</table>

<!-- For Creating a Complaint Modal -->
<div id="popUp" class="modal-complaint">
  
  <form class="modal-complaint-content">
    <div class="imgcontainer">
      <span onclick="document.getElementById('popUp').style.display='none'" class="close-complaint" title="Close Modal">&times;</span>
    </div>

    <div class="container1">
      <label for="title"><b>Title of Complaint</b></label>
      <input type="text" placeholder="Enter Title of Complaint" name="title" required>
      
      <label for="complaint"><b>Please use this field to provide detail about your complaint</b></label>  
      <textarea rows="5" placeholder="Enter Description of Complaint" name="complaint"></textarea>
  
      <button type="submit">Submit</button>
    </div>

    <div class="container1" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('popUp').style.display='none'" class="cancelbtn-complaint">Cancel</button>
    </div>
  </form>
</div>



<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}

//Get the modal
var modal = document.getElementById('popUp');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

</body>
</html>